.boards {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    max-width: 1500px;
    justify-content: center;
    flex-wrap: wrap;
}

.board {
    margin: 20px 20px;
    min-width: 250px;
    background-color: rgb(234, 218, 248);
    padding: 10px;
}

.title {
    font-size: 28px;
    text-transform: capitalize;
    justify-self: left;
}
.boardList{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.listItem {
    width: 100%;
    background-color: rgb(127, 168, 255);
    margin: 3px 0px;
    text-align: left;
    padding: 2px;
}